<h2>Add New Product</h2>
<app-form />
<h2>Products</h2>
<div style="display: flex; justify-content: space-between; width: 90vw">
  <ol>
    <li *ngFor="let item of products">
      <app-list-item
        [index]="item.id - 1"
        (selectedIdxChange)="selectedIdxParent = $event"
      ></app-list-item>
    </li>
  </ol>
  <div>
    <h4>Selected Phone</h4>
    {{ products[selectedIdxParent].name }}
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
